<html>
<body>
	<h4>{{ email }} hesabınızla yaptığınız Mekanlar.com üyeliğinizi aktifleştirmek için aşağıdaki linke tıklamanız gerekmektedir.</h4>
	<p><strong>Aktivasyon için tıklayın:</strong></p>
	<p><a href="{{ constant('BASE') }}activation/{{ user_id }}/{{ ac_key }}">{{ constant('BASE') }}activation/{{ user_id }}/{{ ac_key }}</a></p>
</body>
</html>