<html>
<body>
	<h4>Bu eposta Mekanlar.com tarafından şifre sıfırlama talebiniz üzerine gönderilmiştir.</h4>
	<p><strong>Şifrenizi değiştirmek için tıklayın:</strong></p>
	<p><a href="{{ constant('BASE') }}reset_passwd/{{ user_id }}/{{ fp_key }}">{{ constant('BASE') }}reset_passwd/{{ user_id }}/{{ fp_key }}</a></p>
</body>
</html>